In [16]:
import numpy as np
import pandas as pd
import pydeck as pdk
import streamlit as st

# Lyon Coord

In [17]:
data = pd.read_csv("/home/ecapi/code/e-capi/website_water_pollution/croquis_coord/PolygonConverted.csv", encoding_errors="ignore")

/home/ecapi/.pyenv/versions/3.8.12/envs/website_water_pollution/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
data

,PolygonID,dissolve,scalerank,featurecla,name,name_alt,rivernum,note,min_zoom,name_en,...,name_sv,name_tr,name_vi,name_zh,wdid_score,ne_id,SubPolygonID,PointID,Longitude,Latitude
0,1,0River,1,River,Irrawaddy Delta,NaN,0,NaN,2.0,Irrawaddy,...,Irrawaddy,Iravadi Nehri,Sng Ayeyarwaddy,?????,2,1159109417,1,1,95.451101,17.820502
1,1,0River,1,River,Irrawaddy Delta,NaN,0,NaN,2.0,Irrawaddy,...,Irrawaddy,Iravadi Nehri,Sng Ayeyarwaddy,?????,2,1159109417,1,2,95.427664,17.844672
2,1,0River,1,River,Irrawaddy Delta,NaN,0,NaN,2.0,Irrawaddy,...,Irrawaddy,Iravadi Nehri,Sng Ayeyarwaddy,?????,2,1159109417,1,3,95.387787,17.824408
3,1,0River,1,River,Irrawaddy Delta,NaN,0,NaN,2.0,Irrawaddy,...,Irrawaddy,Iravadi Nehri,Sng Ayeyarwaddy,?????,2,1159109417,1,4,95.324474,17.761827
4,1,0River,1,River,Irrawaddy Delta,NaN,0,NaN,2.0,Irrawaddy,...,Irrawaddy,Iravadi Nehri,Sng Ayeyarwaddy,?????,2,1159109417,1,5,95.305268,17.749945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256380,1455,303Drau,7,River,Drau,Drava,303,NaN,6.0,Drava,...,Drava,Drava,NaN,????,5,1159129685,2,127,16.605642,46.315863
256381,1455,303Drau,7,River,Drau,Drava,303,NaN,6.0,Drava,...,Drava,Drava,NaN,????,5,1159129685,2,128,16.720470,46.311387
256382,1455,303Drau,7,River,Drau,Drava,303,NaN,6.0,Drava,...,Drava,Drava,NaN,????,5,1159129685,2,129,16.766368,46.320909
256383,1455,303Drau,7,River,Drau,Drava,303,NaN,6.0,Drava,...,Drava,Drava,NaN,????,5,1159129685,2,130,16.855479,46.315782
256384,1455,303Drau,7,River,Drau,Drava,303,NaN,6.0,Drava,...,Drava,Drava,NaN,????,5,1159129685,2,131,16.877940,46.314073

In [62]:
#list of stations to have for the paths
df_river = data[["name", "PointID", "Longitude", "Latitude"]]
river_names = df_river["name"].drop_duplicates().dropna()

In [63]:
river_names

0         Irrawaddy Delta
416             Tonle Sap
526               Sheksna
606                 Vorma
717                Vyatka
               ...
255702          Tongariro
255714             Pukaki
255718               Ohau
255725             Tekapo
255765                 Po
Name: name, Length: 1075, dtype: object

In [56]:
df_river.name[df_river["name"].str.startswith("B")]

1237        Bois
1238        Bois
1239        Bois
1240        Bois
1241        Bois
           ...
253521    Buller
253522    Buller
253523    Buller
253524    Buller
253525    Buller
Name: name, Length: 14176, dtype: object

In [57]:
l = []
[l.append(name) for name in df_river.name[df_river["name"].str.startswith("B")]]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [38]:
river_names.str.startswith("b").count()

1075

In [14]:
df_river = data[["name", "PointID", "Longitude", "Latitude"]]
df_river = df_river[df_river["name"] == str("Sane")].copy()
df_river

        name  PointID  Longitude   Latitude
246829  Sane        1   4.951101  46.833360
246830  Sane        2   4.934255  46.820909
246831  Sane        3   4.917410  46.811794
246832  Sane        4   4.908458  46.808173
246833  Sane        5   4.881114  46.806260
...      ...      ...        ...        ...
246888  Sane       60   4.840017  45.799994
246889  Sane       61   4.838064  45.789008
246890  Sane       62   4.837413  45.777167
246891  Sane       63   4.836111  45.768581
246892  Sane       64   4.830577  45.751532

[64 rows x 4 columns]

In [4]:
def generate_rivers_coordinates(river_name, df):

    df_river = df[["name", "PointID", "Longitude", "Latitude"]]
    df_river = df[df["name"] == str(river_name)].copy()

    #make a list of coordinates and put them together
    lat_list = df_river.Latitude.to_list()
    long_list = df_river.Longitude.to_list()

    coord_list = zip(lat_list, long_list)
    # nl = [f"{lat}, {long}" for lat, long in zip(lat_list, long_list)] #if no need of tupple
    coord_list = list(coord_list)

    # list_of_lists_coord = [] #Create a list of lists with coordinates
    # for coord in coord_list:
    #     list_of_lists_coord.append([coord])

    df_map = pd.DataFrame.from_dict({
        "name": ["Saone"],
        "Color": ["ffe800"],
        "Coord": [coord_list]
    })
    return df_map

In [15]:
generate_rivers_coordinates("Sane", data)

    name   Color                                              Coord
0  Saone  ffe800  [(46.8333600932232, 4.95110110768792), (46.820...

# Station PICKLE

In [69]:
df_station = pd.read_pickle("/home/ecapi/code/e-capi/website_water_pollution/croquis_coord/stationsdf.pickle")

In [70]:
df_station

,label,alt,river_id,river_label,coord,mean_station
id,,,,,,
6000990,BELRUPT,292,U---0000,La Saône,"(48.090273327987276, 6.101940890815991)",4.513699
6000998,MONTHUREUX-SUR-SAONE 2,241,U---0000,La Saône,"(48.01825125838868, 5.941492053405311)",6.428571
6000993,JONVELLE,230,U---0000,La Saône,"(47.93638044949666, 5.923536232871648)",9.433333
6001000,CENDRECOURT,213,U---0000,La Saône,"(47.84026083741255, 5.917378095285407)",9.233333
6003600,SCEY-SUR-SAONE-ET-ST-ALBI,210,U---0000,La Saône,"(47.661731120409826, 5.972459738821173)",8.421519
6002500,PORT-SUR-SAONE,208,U---0000,La Saône,"(47.69107833426886, 6.039291564176292)",7.489474
6005500,APREMONT 1,190,U---0000,La Saône,"(47.39571566626848, 5.544088676925676)",10.553020
6011000,AUXONNE 1,185,U---0000,La Saône,"(47.194519280308995, 5.382571963766932)",10.828667
6017050,CHARREY-SUR-SAONE,180,U---0000,La Saône,"(47.07369860831355, 5.165636185828038)",10.831410
6017070,SEURRE,179,U---0000,La Saône,"(46.996924100012116, 5.143535237908081)",10.799342
6039500,OUROUX-SUR-SAONE,175,U---0000,La Saône,"(46.71096442849778, 4.932135858552662)",8.546309
6037400,GERGY,173,U---0000,La Saône,"(46.878985499448895, 4.95545758641089)",8.671333
6053800,ST-BERNARD,170,U---0000,La Saône,"(45.94411368108925, 4.728940625602998)",8.767105
6045800,FLEURVILLE,170,U---0000,La Saône,"(46.44779717625807, 4.896612600024577)",8.577181
6810010,ST-SYMPHORIEN-D'ANCELLES,168,U---0000,La Saône,"(46.18787308946925, 4.780200879945488)",8.468874
6059500,LYON 1,164,U---0000,La Saône,"(45.79653877103179, 4.831905651439411)",8.835948

In [76]:
df_station["coord"] = df_station["coord"].apply(lambda x: (x[1], x[0]))
df_station

,label,alt,river_id,river_label,coord,mean_station,exits
id,,,,,,,
6000990,BELRUPT,292,U---0000,La Saône,"(6.101940890815991, 48.090273327987276)",4.513699,1000
6000998,MONTHUREUX-SUR-SAONE 2,241,U---0000,La Saône,"(5.941492053405311, 48.01825125838868)",6.428571,1000
6000993,JONVELLE,230,U---0000,La Saône,"(5.923536232871648, 47.93638044949666)",9.433333,1000
6001000,CENDRECOURT,213,U---0000,La Saône,"(5.917378095285407, 47.84026083741255)",9.233333,1000
6003600,SCEY-SUR-SAONE-ET-ST-ALBI,210,U---0000,La Saône,"(5.972459738821173, 47.661731120409826)",8.421519,1000
6002500,PORT-SUR-SAONE,208,U---0000,La Saône,"(6.039291564176292, 47.69107833426886)",7.489474,1000
6005500,APREMONT 1,190,U---0000,La Saône,"(5.544088676925676, 47.39571566626848)",10.553020,1000
6011000,AUXONNE 1,185,U---0000,La Saône,"(5.382571963766932, 47.194519280308995)",10.828667,1000
6017050,CHARREY-SUR-SAONE,180,U---0000,La Saône,"(5.165636185828038, 47.07369860831355)",10.831410,1000
6017070,SEURRE,179,U---0000,La Saône,"(5.143535237908081, 46.996924100012116)",10.799342,1000
6039500,OUROUX-SUR-SAONE,175,U---0000,La Saône,"(4.932135858552662, 46.71096442849778)",8.546309,1000
6037400,GERGY,173,U---0000,La Saône,"(4.95545758641089, 46.878985499448895)",8.671333,1000
6053800,ST-BERNARD,170,U---0000,La Saône,"(4.728940625602998, 45.94411368108925)",8.767105,1000
6045800,FLEURVILLE,170,U---0000,La Saône,"(4.896612600024577, 46.44779717625807)",8.577181,1000
6810010,ST-SYMPHORIEN-D'ANCELLES,168,U---0000,La Saône,"(4.780200879945488, 46.18787308946925)",8.468874,1000
6059500,LYON 1,164,U---0000,La Saône,"(4.831905651439411, 45.79653877103179)",8.835948,1000

In [73]:
df_station["exits"] = 1000
df_station

,label,alt,river_id,river_label,coord,mean_station,exits
id,,,,,,,
6000990,BELRUPT,292,U---0000,La Saône,"(48.090273327987276, 6.101940890815991)",4.513699,1000
6000998,MONTHUREUX-SUR-SAONE 2,241,U---0000,La Saône,"(48.01825125838868, 5.941492053405311)",6.428571,1000
6000993,JONVELLE,230,U---0000,La Saône,"(47.93638044949666, 5.923536232871648)",9.433333,1000
6001000,CENDRECOURT,213,U---0000,La Saône,"(47.84026083741255, 5.917378095285407)",9.233333,1000
6003600,SCEY-SUR-SAONE-ET-ST-ALBI,210,U---0000,La Saône,"(47.661731120409826, 5.972459738821173)",8.421519,1000
6002500,PORT-SUR-SAONE,208,U---0000,La Saône,"(47.69107833426886, 6.039291564176292)",7.489474,1000
6005500,APREMONT 1,190,U---0000,La Saône,"(47.39571566626848, 5.544088676925676)",10.553020,1000
6011000,AUXONNE 1,185,U---0000,La Saône,"(47.194519280308995, 5.382571963766932)",10.828667,1000
6017050,CHARREY-SUR-SAONE,180,U---0000,La Saône,"(47.07369860831355, 5.165636185828038)",10.831410,1000
6017070,SEURRE,179,U---0000,La Saône,"(46.996924100012116, 5.143535237908081)",10.799342,1000
6039500,OUROUX-SUR-SAONE,175,U---0000,La Saône,"(46.71096442849778, 4.932135858552662)",8.546309,1000
6037400,GERGY,173,U---0000,La Saône,"(46.878985499448895, 4.95545758641089)",8.671333,1000
6053800,ST-BERNARD,170,U---0000,La Saône,"(45.94411368108925, 4.728940625602998)",8.767105,1000
6045800,FLEURVILLE,170,U---0000,La Saône,"(46.44779717625807, 4.896612600024577)",8.577181,1000
6810010,ST-SYMPHORIEN-D'ANCELLES,168,U---0000,La Saône,"(46.18787308946925, 4.780200879945488)",8.468874,1000
6059500,LYON 1,164,U---0000,La Saône,"(45.79653877103179, 4.831905651439411)",8.835948,1000

In [71]:
df_station.to_dict(orient="index")

{6000990: {'label': 'BELRUPT',
  'alt': 292,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (48.090273327987276, 6.101940890815991),
  'mean_station': 4.513698630136986},
 6000998: {'label': 'MONTHUREUX-SUR-SAONE 2',
  'alt': 241,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (48.01825125838868, 5.941492053405311),
  'mean_station': 6.428571428571429},
 6000993: {'label': 'JONVELLE',
  'alt': 230,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.93638044949666, 5.923536232871648),
  'mean_station': 9.433333333333334},
 6001000: {'label': 'CENDRECOURT',
  'alt': 213,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.84026083741255, 5.917378095285407),
  'mean_station': 9.233333333333333},
 6003600: {'label': 'SCEY-SUR-SAONE-ET-ST-ALBI',
  'alt': 210,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.661731120409826, 5.972459738821173),
  'mean_station': 8.421518987341772},
 6002500: {'label': 'PORT-SUR-SAONE',
  'alt': 208,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.69107833426886, 6.039291564176292),
  'mean_station': 7.489473684210527},
 6005500: {'label': 'APREMONT 1',
  'alt': 190,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.39571566626848, 5.544088676925676),
  'mean_station': 10.553020134228188},
 6011000: {'label': 'AUXONNE 1',
  'alt': 185,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.194519280308995, 5.382571963766932),
  'mean_station': 10.828666666666667},
 6017050: {'label': 'CHARREY-SUR-SAONE',
  'alt': 180,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (47.07369860831355, 5.165636185828038),
  'mean_station': 10.831410256410257},
 6017070: {'label': 'SEURRE',
  'alt': 179,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (46.996924100012116, 5.143535237908081),
  'mean_station': 10.799342105263158},
 6039500: {'label': 'OUROUX-SUR-SAONE',
  'alt': 175,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (46.71096442849778, 4.932135858552662),
  'mean_station': 8.546308724832215},
 6037400: {'label': 'GERGY',
  'alt': 173,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (46.878985499448895, 4.95545758641089),
  'mean_station': 8.671333333333333},
 6053800: {'label': 'ST-BERNARD',
  'alt': 170,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (45.94411368108925, 4.728940625602998),
  'mean_station': 8.767105263157895},
 6045800: {'label': 'FLEURVILLE',
  'alt': 170,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (46.44779717625807, 4.896612600024577),
  'mean_station': 8.577181208053691},
 6810010: {'label': "ST-SYMPHORIEN-D'ANCELLES",
  'alt': 168,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (46.18787308946925, 4.780200879945488),
  'mean_station': 8.46887417218543},
 6059500: {'label': 'LYON 1',
  'alt': 164,
  'river_id': 'U---0000',
  'river_label': 'La Saône',
  'coord': (45.79653877103179, 4.831905651439411),
  'mean_station': 8.835947712418301}}

In [77]:
SCATTERPLOT_LAYER_DATA = "https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/bart-stations.json"
df = pd.read_json(SCATTERPLOT_LAYER_DATA)

In [78]:
df

,name,code,address,entries,exits,coordinates
0,Lafayette (LAFY),LF,"3601 Deer Hill Road, Lafayette CA 94549",3481,3616,"[-122.123801, 37.893394]"
1,12th St. Oakland City Center (12TH),12,"1245 Broadway, Oakland CA 94612",13418,13547,"[-122.271604, 37.803664]"
2,16th St. Mission (16TH),16,"2000 Mission Street, San Francisco CA 94110",12409,12351,"[-122.419694, 37.765062]"
3,19th St. Oakland (19TH),19,"1900 Broadway, Oakland CA 94612",13108,13090,"[-122.269029, 37.80787]"
4,24th St. Mission (24TH),24,"2800 Mission Street, San Francisco CA 94110",12817,12529,"[-122.418466, 37.752254]"
5,Ashby (ASHB),AS,"3100 Adeline Street, Berkeley CA 94703",5452,5341,"[-122.26978, 37.853024]"
6,Balboa Park (BALB),BP,"401 Geneva Avenue, San Francisco CA 94112",11170,9817,"[-122.447414, 37.721981]"
7,Bay Fair (BAYF),BF,"15242 Hesperian Blvd., San Leandro CA 94578",5564,5516,"[-122.126871, 37.697185]"
8,Castro Valley (CAST),CV,"3301 Norbridge Dr., Castro Valley CA 94546",2781,2735,"[-122.075567, 37.690754]"
9,Civic Center/UN Plaza (CIVC),CC,"1150 Market Street, San Francisco CA 94102",24798,22626,"[-122.413756, 37.779528]"
10,Colma (COLM),CM,"365 D Street, Colma CA 94014",4397,4214,"[-122.466233, 37.684638]"
11,Coliseum/Oakland Airport (COLS),CL,"7200 San Leandro St., Oakland CA 94621",5837,5902,"[-122.197273, 37.754006]"
12,Concord (CONC),CN,"1451 Oakland Avenue, Concord CA 94520",6035,6008,"[-122.029095, 37.973737]"
13,Daly City (DALY),DC,"500 John Daly Blvd., Daly City CA 94014",8681,8502,"[-122.469081, 37.706121]"
14,Downtown Berkeley (DBRK),BK,"2160 Shattuck Avenue, Berkeley CA 94704",11043,11762,"[-122.268045, 37.869867]"
15,El Cerrito del Norte (DELN),EN,"6400 Cutting Blvd., El Cerrito CA 94530",8176,8668,"[-122.317269, 37.925655]"
16,Dublin/Pleasanton (DUBL),ED,"5801 Owens Dr., Pleasanton CA 94588",7702,7554,"[-121.900367, 37.701695]"
17,Embarcadero (EMBR),EM,"298 Market Street, San Francisco CA 94111",40376,46951,"[-122.396742, 37.792976]"
18,Fremont (FRMT),FM,"2000 BART Way, Fremont CA 94536",8748,8673,"[-121.9764, 37.557355]"
19,Fruitvale (FTVL),FV,"3401 East 12th Street, Oakland CA 94601",7701,8012,"[-122.224274, 37.774963]"
20,Glen Park (GLEN),GP,"2901 Diamond Street, San Francisco CA 94131",7732,7072,"[-122.434092, 37.732921]"
21,Hayward (HAYW),HY,"699 'B' Street, Hayward CA 94541",4958,5003,"[-122.087967, 37.670399]"
22,Lake Merritt (LAKE),LM,"800 Madison Street, Oakland CA 94607",6539,6604,"[-122.265609, 37.797484]"
23,MacArthur (MCAR),MA,"555 40th Street, Oakland CA 94609",9000,9228,"[-122.267227, 37.828415]"
24,Millbrae (MLBR),MB,"200 North Rollins Road, Millbrae CA 94030",6570,6149,"[-122.38666, 37.599787]"
25,Montgomery St. (MONT),MT,"598 Market Street, San Francisco CA 94104",43430,45128,"[-122.401407, 37.789256]"
26,North Berkeley (NBRK),NB,"1750 Sacramento Street, Berkeley CA 94702",4363,4563,"[-122.283451, 37.87404]"
27,North Concord/Martinez (NCON),NC,"3700 Port Chicago Highway, Concord CA 94520",2800,2652,"[-122.024597, 38.003275]"
28,Orinda (ORIN),OR,"11 Camino Pablo, Orinda CA 94563",2896,2970,"[-122.183791, 37.878361]"
29,Pleasant Hill/Contra Costa Centre (PHIL),PH,"1365 Treat Blvd., Walnut Creek CA 94597",7574,7442,"[-122.056013, 37.928403]"
30,Pittsburg/Bay Point (PITT),WP,"1700 West Leland Road, Pittsburg CA 94565",6262,6343,"[-121.945154, 38.018914]"
31,El Cerrito Plaza (PLZA),EP,"6699 Fairmount Avenue, El Cerrito CA 94530",4763,4952,"[-122.299272, 37.903059]"
32,Powell St. (POWL),PL,"899 Market Street, San Francisco CA 94102",29460,25621,"[-122.406857, 37.784991]"
33,Richmond (RICH),RM,"1700 Nevin Avenue, Richmond CA 94801",4184,4029,"[-122.353165, 37.936887]"
34,Rockridge (ROCK),RR,"5660 College Avenue, Oakland CA 94618",5299,5775,"[-122.251793, 37.844601]"
35,San Leandro (SANL),SL,"1401 San Leandro Blvd., San Leandro CA 94577",5836,5921,"[-122.161311, 37.722619]"
36,San Bruno (SBRN),SB,"1151 Huntington Avenue, San Bruno CA 94066",3628,3634,"[-122.416038, 37.637753000000004]"
37,San Francisco Int'l Airport (SFIA),SO,"International Terminal, Level 3, San Francisco...",5833,4904,"[-122.392612, 37.616035]"
38,South Hayward (SHAY),SH,"28601 Dixon Street, Hayward CA 94544",3007,2829,"[-122.057551, 37.6348]"
39,South San Francisco (SSAN),SS,"1333 Mission Road, South San Francisco CA 94080",3542,3441,"[-122.444116, 37.664174]"
40,Union City (UCTY),UC,"10 Union Square, Union City CA 94587",4772,4770,"[-122.017867, 37.591208]"
41,Walnut Creek (WCRK),WC,"200 Ygnacio Valley Road, Walnut Creek CA 94596",6719,6917,"[-122.067423, 37.905628]"
42,West Dublin/Pleasanton (WDUB),WD,"6501 Golden Gate Drive, Dublin CA 94568",3303,3447,"[-121.928099, 37.699759]"
43,West Oakland (WOAK),OW,"1451 7th Street, Oakland CA 94607",7312,6838,"[-122.294582, 37.804675]"