In [2]:
import requests
import pandas as pd

In [5]:
df_station = pd.read_pickle(
        "/home/ecapi/code/e-capi/website_water_pollution/croquis_coord/stationsdf.pickle"
    )
df_station["coord"] = df_station["coord"].apply(lambda x: (x[1], x[0]))
df_station["mean_station_radius"] = df_station["mean_station"] * 80

In [6]:
df_station

,label,alt,river_id,river_label,coord,mean_station,mean_station_radius
id,,,,,,,
6000990,BELRUPT,292,U---0000,La Saône,"(6.101940890815991, 48.090273327987276)",4.513699,361.095890
6000998,MONTHUREUX-SUR-SAONE 2,241,U---0000,La Saône,"(5.941492053405311, 48.01825125838868)",6.428571,514.285714
6000993,JONVELLE,230,U---0000,La Saône,"(5.923536232871648, 47.93638044949666)",9.433333,754.666667
6001000,CENDRECOURT,213,U---0000,La Saône,"(5.917378095285407, 47.84026083741255)",9.233333,738.666667
6003600,SCEY-SUR-SAONE-ET-ST-ALBI,210,U---0000,La Saône,"(5.972459738821173, 47.661731120409826)",8.421519,673.721519
6002500,PORT-SUR-SAONE,208,U---0000,La Saône,"(6.039291564176292, 47.69107833426886)",7.489474,599.157895
6005500,APREMONT 1,190,U---0000,La Saône,"(5.544088676925676, 47.39571566626848)",10.553020,844.241611
6011000,AUXONNE 1,185,U---0000,La Saône,"(5.382571963766932, 47.194519280308995)",10.828667,866.293333
6017050,CHARREY-SUR-SAONE,180,U---0000,La Saône,"(5.165636185828038, 47.07369860831355)",10.831410,866.512821
6017070,SEURRE,179,U---0000,La Saône,"(5.143535237908081, 46.996924100012116)",10.799342,863.947368
6039500,OUROUX-SUR-SAONE,175,U---0000,La Saône,"(4.932135858552662, 46.71096442849778)",8.546309,683.704698
6037400,GERGY,173,U---0000,La Saône,"(4.95545758641089, 46.878985499448895)",8.671333,693.706667
6053800,ST-BERNARD,170,U---0000,La Saône,"(4.728940625602998, 45.94411368108925)",8.767105,701.368421
6045800,FLEURVILLE,170,U---0000,La Saône,"(4.896612600024577, 46.44779717625807)",8.577181,686.174497
6810010,ST-SYMPHORIEN-D'ANCELLES,168,U---0000,La Saône,"(4.780200879945488, 46.18787308946925)",8.468874,677.509934
6059500,LYON 1,164,U---0000,La Saône,"(4.831905651439411, 45.79653877103179)",8.835948,706.875817

In [8]:
df_station[df_station["label"] =="BELRUPT"]

,label,alt,river_id,river_label,coord,mean_station,mean_station_radius
id,,,,,,,
6000990,BELRUPT,292,U---0000,La Saône,"(6.101940890815991, 48.090273327987276)",4.513699,361.09589